<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="Bledi">
    <meta name="descritpion" content="Unsubscribe page for ICONDECON.">
    <title>Unsubscribe | ICODECON</title>
    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="shortcut icon" type="image/vnd.microsofticon" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    
    <footer class="footer">
        <p>Made by <a href="https://bledidalipaj.github.io/" target="_blank"><span class="author">Bledi Dalipaj</span></a></p> 
    </footer>
    
</body>
</html>